
aplicacao/__pycache__/mapa.cpython-38.pyc
aplicacao/__pycache__/datas_lancamentos.cpython-38.pyc
aplicacao/__pycache__/distribuicoes.cpython-38.pyc
aplicacao/__pycache__/imports_datasets.cpython-38.pyc
